.service-cards {
    gap: 20px;
}
.service-cards .card {
    padding: 35px 20px;
    border: 1px solid var(--outline);
    border-radius: var(--round-conners);
}
.service-cards .card:hover {
    border: 1px solid var(--outline);
    background-color: var(--theme-clr);
    color: #fff;
}

.service-cards .card-icon {
    width: 55px;
    height: 55px;
    background: #E6F5FC;
    border-radius: 50%;
    margin: 0px 0px 15px;
    padding: 5px;
}
.card-icon img {
    transform: scale(0.8);
    margin: 0 auto;
}