.wio{
 width:51.83px;
 height: 51.24px; 
}

.Span-spend{
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(81, 79, 79);
}

.Main-chart-span{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.tot-cont{
    padding: 16px;
    background-color: #EAEAEA;
    margin-left: 120px;  
}

.full-bar-chat{
    width: 100%;
    padding: 7px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow:0 4px 6px -1px #0000001a,
}

.bar{
    margin-top: 12px;
    height: 300px;
}