@font-face {
    font-family: MontserratRegular;
    src: url(assets/fonts/Montserrat/static/Montserrat-Regular.ttf)
}
@font-face {
    font-family: MontserratBold;
    src: url(assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 3px grey;
	background-color: var(--body-bg-clr);
}

::-webkit-scrollbar-thumb {
	background: var(--theme-clr);
	border-radius: 4px;
}

:root {
	--font-one: sans-serif;
	--font-two: 'MontserratRegular', sans-serif;
	--font-three: 'MontserratBold', sans-serif;
	--font-four: 'Poppins', sans-serif;
	--site-pad: 20px;
	--btn-height: 40px;
	--title-size: 22px;
	--round-conners: 20px;
	--txt-shadow: 2px 2px 8px #000;
	--transition: all ease-in-out 0.3s;

	--theme-clr: #0360D9;
	--theme-clr-trans: #0360D94f;
	--outline: #8585857d;
	--overlay-clr: #00000096;
	--sidebar-outline: #636568;
	--box-shadow: 0rem 0.125rem 0.25rem #1f21241a,
		0rem 0.0625rem 0.375rem #1f21243d;
	--shadow-small: 0 1px 3px 0 #0000001a, 0 1px 2px 0 #0000000f;
	--shadow-medium: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
	--shadow-large: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
	--preset-shadow-sharp: 6px 6px 0px #00000033;
}

@media screen and (min-width: 768px) {
	:root {
		--site-width: 100%;
		--site-pad: 40px;
		--title-size: 24px;
	}
}

@media screen and (min-width: 1280px) {
	:root {
		--site-pad: 80px;
		--site-width: 999px;
	}
}

@media screen and (min-width: 1440px) {
	:root {
		--site-pad: 130px;
		--site-width: 1390px;
	}
}

@media screen and (min-width: 1534px) {
	:root {
		--site-pad: 150px;
	}
}

@media screen and (min-width: 1920px) {
	:root {
		--site-pad: 210px;
	}
}

* {
	margin: 0;
	padding: 0;
    font-family: var(--font-two);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html {
	font-family: var(--font-two);
	scroll-behavior: smooth;
}


body {
    --body-bg-clr: #f1f2f4de;
    --body-txt-clr: #444;
    --box-bg-clr: #ffffffcc;
    --box-bg-clr-solid: #ffffff;
    --tertiary-clr: #59626f;
    --brightness: brightness(100%) contrast(1);
}
/* body.dark-theme {
    --body-bg-clr: #121418;
    --body-txt-clr: #e9e9e9;
    --box-bg-clr: #21212278;
    --box-bg-clr-solid: #212122;
    --tertiary-clr: #afafaf;
    --brightness: brightness(70%) contrast(1.1);
}
@media (prefers-color-scheme: dark) {
    body {
        --body-bg-clr: #121418;
        --body-txt-clr: #e9e9e9;
        --box-bg-clr: #21212278;
        --box-bg-clr-solid: #212122;
        --tertiary-clr: #afafaf;
        --brightness: brightness(70%) contrast(1.1);
    }

    body.light-theme {
        --body-bg-clr: #f1f2f4de;
        --body-txt-clr: #444;
        --box-bg-clr: #ffffffcc;
        --box-bg-clr-solid: #ffffff;
        --tertiary-clr: #59626f;
        --brightness: brightness(100%) contrast(1);
    }
} */

body {
	background-size: cover;
    color: var(--body-txt-clr);
	background-repeat: no-repeat;
    transition: var(--transition);
	background-color: var(--body-bg-clr);
    font-family: var(--font-two);
}
body::after {
    content: "";
    clear: both;
    display: table;
}
body.home.noHero .wrapper section:nth-child(1) {
    display: flex;
    margin-top: 30px;
    min-height: 100vh;
    align-items: center;
}
#root {
	position: relative;
}
.wrapper {
    min-height: 100vh;
    color: var(--body-txt-clr);
	overflow: auto;
}
.wrapper>section {
    padding: 70px 0px;
}
.wrapper::after,
.wrapper>section::after {
    content: "";
    clear: both;
    display: table;
}
.container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0 var(--site-pad);
    padding-bottom: 0.1em;
}

a {
	text-decoration: none;
	color: var(--theme-clr);
}
img {
    filter: var(--brightness);
    transition: var(--transition);
    transform: scale(1.0);
    object-fit: cover;
}
p {
    font-family: var(--font-two);
    margin-bottom: 1rem;
}
.title, h1, h2, h3, h4, h5 {
    font-family: var(--font-three);
    margin-bottom: 0.5rem;
    line-height: 1.4;
}
span {
    font-family: var(--font-two);
}
.title {
    font-size: var(--title-size);
    text-transform: var(--title-text-transform);
}


/* -- UTILITY CLASSES -- */
.fitImg {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.txtShadowDrk {
    text-shadow: 1px 1px 1px #252525;
}
.flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.flexCenter {
    align-items: center;
    -ms-flex-align: center!important;
    -webkit-box-align: center!important;
    justify-content: center!important;
    -ms-flex-pack: center!important;
    -webkit-box-pack: center!important;
    align-content: center;
    flex-direction: column;
}
.flexStart {
    align-items: baseline;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
}
.grid {
    display: grid;
    grid-gap: 1.2em;
    padding: 10px 0px;
    grid-template-columns: repeat(auto-fit, minmax(26ch, 1fr));
}
.flexSB {
    display: flex;
    justify-content: space-between;
}
.noPad {
    padding: unset !important;
}
.hide {
    display: none;
}
[hidden] {
    visibility: hidden;
}
.btn {
    --btn-clr: #fff;
    --btn-radius: 0px;
    --btn-hover-clr: #f3fffd52;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    position: relative;
    padding: 6px 15px;
    display: inline-block;
    text-decoration: none;
    color: var(--btn-clr);
    background: var(--theme-clr);
    font-family: var(--font-two);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    border-radius: var(--btn-radius);
    isolation: isolate;
}
.btn[class*="-pill"],
.btn.pill {
    --btn-radius: 10em;
}
.btn[class*="ghost-"],
.plainBtn {
    background: transparent;
    border: 1px solid var(--theme-clr);
    color: var(--theme-clr);
}
.btn:active {
    transform: scale(0.92);
}
.btn::after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transform: translateX(-100%);
    background-color: var(--btn-hover-clr);
    transition: transform .4s ease-in, background-color .4s linear;
    border-radius: var(--btn-radius);
}
.btn:hover::after,
.btn:focus-visible::after {
    transform: translateX(0);
    transition: transform .4s ease-out, background-color .4s linear;
}
.plainBtn::after {
    background-color: var(--theme-clr-trans);
}

.secTitle {
    padding: 0px 0px 10px;
    font-size: 1em;
    font-family: var(--font-three);
}

.card {
    position: relative;
    color: var(--body-txt-clr);
    box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    border-radius: var(--round-conners);
    background-color: var(--box-bg-clr);
    transition: var(--transition);
}




/** footer */
footer {
    min-height: 200px;
    background-color: var(--theme-clr);
    color: #fff;
}

.footer-columns {
    padding: 60px 0px;
    display: flex;
    gap: 50px 30px;
    justify-content: space-between;
    flex-direction: column;
}
.footer-columns .column {
    display: inline-block;
    width: 100%;
}
.footer-columns .column h4 {
    font-size: 20px;
    margin-bottom: 40px;
}

.footer-columns .column li {
    list-style: none;
    margin: 0px 0px 10px;
}

.footer-columns .column img {
    width: 100%;
}

footer .social-icons {
    display: flex;
    gap: 15px;
    font-size: 30px;
    align-items: center;
}

.footer-bottom {
    border-top: 1px solid #fff;
    padding: 40px 0px;
    text-align: center;
}
.footer-bottom p {
    margin: 0px;
}

@media screen and (min-width: 860px) {
    .footer-columns {
        flex-direction: row;
    }
    .footer-columns .column {
        width: 33.33%;
    }

    .footer-columns .column img {
        width: 100%;
    }

    .secTitle {
        font-size: 1.3em;
    }
}